@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

#portada {
    margin-top: 3rem;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

#portada2{
    width: 25rem;
    height: 33rem;
    border-radius: 25px;
    object-fit: cover;
}
#text{
    color: black;
    font-family: 'Abyssinica SIL', serif;
}
#contacto{
    margin-top: 3rem;
}
#destacado{
    font-family: 'Abyssinica SIL', serif;
}

@media screen and (max-width: 800px){
        #portada{
            height: 280px;
        }

        #portada2{
            object-fit:inherit;
            width: 21rem;
            height: 17rem;
            border-radius: 4rem;
        }
    }

@media screen and (max-width: 480px){
    #portada{
        height: 180px;
    }

    #portada2{
        margin-top: 5px;
        /* width: 25rem; */
        height: 14rem;
        object-fit: contain;
    }
}   