@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

.card-img-top{
    height: 250px;
}
img{
    height: 450px;
}
.princ{
    font-family:'Abyssinica SIL', serif;
    color: white;
}
#ingredientes{
    color: black;
}
#price{
    color: black;
}
p{
    font-family:'Abyssinica SIL', serif;
    color: white;
    font-size: 19px;
}
@media screen and (max-width: 480px){
    img{
        margin-top: 55px;
        height: 250px;
    }
    p{
        font-size: 12px;
    }
  
  }