@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');


#portada_menu{
    height: 400px;
    /* object-fit: inherit; */
}

.card{
    margin-top: 2rem;
    height: 450px;
}
.card-img-top{
    height: 232px;
}

.princ{
    font-family:'Abyssinica SIL', serif;
    color: white;
}
#titulo{
    font-family: 'Abyssinica SIL', serif;

}
#ingredientes{
    color: black;
    font-family: 'Abyssinica SIL', serif;

}
#price{
    color: black;
    
}
p{
    font-family: 'Abyssinica SIL', serif;
    color: white;
    font-size: 19px;
}


@media screen and (max-width: 480px){
    #portada_menu{
        margin-top: 35px;
        height: 250px;
    }
    p{
        font-size: 14px;
    }
  
  }