@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');


img{
    height: 400px;
    /* object-fit: inherit; */
}

.card-img-top{
    height: 240px;
}
.card{
    height: 490px;
}

.princ{
    font-family:'Abyssinica SIL', serif;
    color: white;
}
#titulo{
    font-family: 'Abyssinica SIL', serif;

}
#ingredientes{
    color: black;
    font-family: 'Abyssinica SIL', serif;

}
#price{
    color: black;
    
}
p{
    font-famiy:'Abyssinica SIL', serif;
    color: white;
    font-size: 19px;
}


@media screen and (max-width: 800px){
        .card{
            margin-top: 2rem;
        }
  
  }
@media screen and (max-width: 480px){
    img{
        margin-top: 55px;
        height: 250px;
    }
    p{
        font-size: 12px;
    }
    .card{
        margin-top: 3rem;
    }
    
  
  }